* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}
header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 13px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.main-nav a {
    text-decoration: none;
    color: black;
}

.main-nav li {
    list-style-type: none;
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.navright {
    list-style-type: none;
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.navright a {
    text-decoration: none;
    color: black;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 7%;
    padding-bottom: 1.8em;
}

.searchbox {
    display: flex;
    justify-content: center;
    margin-top: 1;

}

.searchbtns {
    display: flex;
    justify-content: center;
    margin-top: 1.7em;
}

.searchfld {
    border-radius: 2em;
    height: 40px;
    border-style: solid;
    border-color: lightgray;
    border-width: thin;
    font-size: 18px;
    outline: 0;
    text-indent: 3em;
}

input {
    background-image: url('images/aq7mx-bydm4-002.ico');
    background-position: 0.8em;
    background-repeat: no-repeat;    
}

.gsearch {
    padding: 9px;
    width: 9em;
    margin-right: 1em;
    background-color: #f2f2f2;
    border: #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    border: 1px solid #f2f2f2;
}

.lsearch {
    padding: 9px;
    width: 10em;
    background-color: #f2f2f2;
    border: #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    border: 1px solid #f2f2f2;
}

.searchbox img {
    display: flex;
    width: 30px;
    height: 30px;
    justify-self: flex-start;
}

.searchbox a {
    position: absolute;
    margin-left: 14.7em;
    margin-top: 0.6em;
}

.searchbox img {
    width: 16px;
    height: 22px;
}

.footer {
    width: 100vw;
    display: block;
    overflow: hidden;
    background-color: #f2f2f2;
    padding: 12px 0;
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4; 
}

.footer p {
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.54);
}

.footertwo {
    width: 100vw;
    display: block;
    overflow: hidden;
    background-color: #f2f2f2;
    padding: 12px 0;
    border-bottom: 1px solid #e4e4e4;
}

.foot1 a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #5f6368;
    margin-left: 10px;
}

.foot1 li {
    display: inline-block;
    list-style: none;
    }

.footertwo {
    display: flex;
    justify-content: space-between;
}

.foot1 {
    margin-left: 15px;
}

.foot2 a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #5f6368;
    margin-left: 10px;
}

.foot2 li {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    list-style: none;
    }

#foot {
    margin-top: auto;
}

.foot2 {
    margin-right: 25px;
}